<template>
    <b-navbar>
        <template slot="brand">
            <b-navbar-item hred="/">
                <img src="../assets/logo.png" alt="">
            </b-navbar-item>
        </template>
        <template slot="start">
            <b-navbar-item href="#/posts">
                Posts {{postsCount}}
            </b-navbar-item>
            <b-navbar-item href="#/posts/add">
                Add New Post
            </b-navbar-item>
            <b-navbar-item @click="login">
                Login
            </b-navbar-item>
        </template>
    </b-navbar>
</template>

<script>
    import BNavbar from "buefy/src/components/navbar/Navbar";
    import BNavbarItem from "buefy/src/components/navbar/NavbarItem";
    import {mapGetters} from 'vuex'
    export default {
        name: "NavBar",
        components: {BNavbarItem, BNavbar},
        computed: {
            ...mapGetters(['postsCount'])
        },
        methods:{
            async login() {
                await this.$auth0.getTokenWithPopup()
            }
        }
    }
</script>

<style scoped>

</style>
