<template>
    <section>
        <b-field label="Title">
            <b-input v-model="title"></b-input>
        </b-field>
        <b-field label="Text">
            <b-input type="textarea" v-model="text"></b-input>
        </b-field>
        <b-button @click="save">Save</b-button>
    </section>
</template>

<script>
    import BField from "buefy/src/components/field/Field";
    import BInput from "buefy/src/components/input/Input";
    import BButton from "buefy/src/components/button/Button";
    export default {
        name: "PostEdit",
        components: {BButton, BInput, BField},
        data() {
            return {
                title:"",
                text:""
            }
        },
        methods: {
            save() {
                this.$store.commit("ADD_POST", {"title": this.title, "text":this.text})
            }
        }
    }
</script>

<style scoped>

</style>
