<template>
    <section>
        <h1>POSTS!</h1>
        <b-table
                :data="getPosts"
                :paginated="true"
                :per-page="10"
                :columns="columns"
        ></b-table>
        <ul>
            <li v-bind:key="item.id" v-for="item in getPosts">
                {{item.title}}
            </li>
        </ul>
    </section>

</template>

<script>
    import {mapGetters} from 'vuex'
    import BTable from "buefy/src/components/table/Table";

    export default {
        name: "PostsList",
        components: {BTable},
        computed: {
            ...mapGetters(['getPosts'])
        },
        data() {
            return {
                columns: [
                    {
                        field:"id",
                        label:"Id"
                    },
                    {
                        field:"title",
                        label: "Title"
                    }
                ]
            }
        }
    }
</script>

<style scoped>

</style>
