<template>
  <div id="app">
    <NavBar />
    <router-view></router-view>
  </div>
</template>

<script>
//import HelloWorld from './components/HelloWorld.vue'
import NavBar from "./components/NavBar";
import {mapActions} from 'vuex'

export default {
  name: 'app',
  components: {
    NavBar
  },
  methods: {
    ...mapActions(['getPosts'])
  },
  beforeMount() {
    this.getPosts();
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
